/* PAGE */
body {
  background-color: #071633;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* APP CONTAINER */
.app {
  padding: 20px;
  padding-bottom: 90px;
}

/* TITLE */
.title {
  font-size: 28px;
  margin-bottom: 10px;
}

/* SEARCH BAR */
.search {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  margin-top: 15px;
  background: #162445;
  color: white;
  outline: none;
}

/* SONG LIST */
.song-list {
  margin-top: 20px;
}

/* SONG ITEM */
.song {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px;
  margin-top: 10px;
  border-radius: 12px;
  background: #162445;
  cursor: pointer;
  transition: 0.2s;
}

/* SONG HOVER */
.song:hover {
  background: #1f3260;
}

/* ACTIVE SONG */
.song.active {
  background: rgba(29, 185, 84, 0.25);
  border: 1px solid #1db954;
}

/* ALBUM ART */
.album-art {
  width: 45px;
  height: 45px;
  background: #888;
  border-radius: 8px;
}

/* SONG TEXT */
.song-title {
  font-weight: bold;
  margin: 0;
}

.song-artist {
  font-size: 14px;
  opacity: 0.7;
  margin: 0;
}

/* MINI PLAYER */
.mini-player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background: #0b132b;
  padding: 12px 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/* MINI LEFT SIDE */
.mini-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* MINI ALBUM */
.mini-album {
  width: 40px;
  height: 40px;
  background: #888;
  border-radius: 8px;
}

/* MINI TEXT */
.mini-title {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
}

.mini-artist {
  margin: 0;
  font-size: 12px;
  opacity: 0.7;
}

/* PLAY BUTTON */
.play-btn {
  background: #1db954;
  border: none;
  color: black;
  font-size: 18px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.play-btn:hover {
  transform: scale(1.1);
}